*{
    box-sizing: border-box;

}
body{
    margin: 0;
}
               /* LOGO */
.bloc-logo{
    width: 50%;
}
.logo{
    height: 100%;
    margin-left: 5%;
}
               /* NAV */
.bloc-nav{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #232323; 
}
.nav{
    display: flex;
    width: 50%;
    align-items: center; 
}
.nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.nav li {
    color: white;
    list-style: none;
}
.a-nav {
    color: white;
    text-decoration: none;
    font-size: 14px;    
}
.a-nav:hover{
    color:#F3981C;
}
             /* FOOTER */
.footer{
    background-color: rgba(43, 38, 38, 0.904);
    height: 10%;
    
    
}
.div-footer {
    display: flex;
    height: 90px;
    flex-direction: column;
}
.box-social{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.social{
    width: 7%;
}
.copyright{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    display: flex;
    flex-direction: column;
    height: 90%;
    
}

/* Actualité */

.banner {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.h1Actualite {
    text-align: center;
}
.h2Actualite {
    text-align: left;
}
.hrActualite {
    width: 5%;
    margin-bottom: 25px;
}
.h3Acualite {
    text-align: center;
    font-size: 24px;
}
.bloc-actualite {
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.bloc-selecteur {
    border-radius: 10%;
    width: 20%;
    background-color: lightgray;
}

.list-selecteur {
    text-align: center;
    height: 100%;
    justify-content: center;
    padding: 0;
}

.selecteur {
    font-size: 24px;
    list-style: none;
    margin-top: 10%;
}

.article {
    border-radius: 10%;
    width: 50%;
    background-color: lightgoldenrodyellow;
    margin: 5px;
}
.img-article {
    height: 120px;
    border-radius: 20%;
    margin-right: 15px;
    margin-bottom: 10px;
}
.bloc-meteo { 
    border-radius: 10%;
    text-align: center;
    width: 20%;
    background-color: lightblue;
}
iframe {
    border: none;
    min-height: 325px;
    width: 70%;
}
